/* main */

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1em; 
	color: #3D3D3D;
}

.fixed {
	position: fixed;
	z-index: -1;
}

.background {
	background-color: white;
}



/* p */
p {
	text-align: left;
	margin-bottom: 3em;
}

section p {
	text-align: left;
	margin-top: 2em;
	margin-bottom: 1.5em;
}

.col-6of10 p {
	margin-top: 1.5em;
	margin-left: 1em;
}



/* ul, li */
ul {
	list-style-type: none;
	text-align: center;
	margin-top: 1.3em;
   color: #DB0B86;
}

li {
	list-style-type: none;
	margin-bottom: 0.1em;
}

.col-6 li {
	list-style-type: none;
	text-align: left;
}

.col-2of10 li {
	padding-bottom: 1.5em;
	font-weight: bold;
}

.col-4of10 li {
	text-align: left;
}



/* headers */
h2 {
	font-weight: bold;
	margin-top: 2em;
}

h3 {
	font-weight: bold;
	margin-bottom: 0.5em;
	color: #DB0B86;
	text-align: center;
}

.col-1of10 h3 {
	text-align: center;
	margin: 2em auto 2em auto;
}

.col-7 h3 {
	text-align: right;
	margin-right: 2.5em;
}

.footer h3 {
	text-align: left;
}

h4 {
	font-weight: bold;
	margin-bottom: 0.01em;
	color: #DB0B86;
	text-align: center;
}

section h5 {
	font-weight: bold;
	color: #DB0B86;
	text-align: left;
	font-size: 1em;
	margin-bottom: 0.3em;
}



/* img */
section img {
	margin: 1.5em 1em 1.5em 1em;
	float: left;
}

.col-8 img, .col-9 img {
	padding: 0;
	margin-top: 3em;
}

.col-7 img {
	margin: 1.5em 0 1.5em 0;
	float: left;
}

.col-6of10 img {
	margin: 3em 0 3em 0;
	float: left;
}

.col-3of10 img {
	margin: 2em auto 2em auto;
	float: left;
}



/* nav */ 
nav a, nav a:visited {
	display: inline-block;
	background-color: #E697C3;
	color: #FFFFFF;
	padding: 0.5em;
	width: 100%;
	font-size: 0.9em;
	margin: 0.2em 0.5em 0 0;
	border: dashed white;
	border-width: 1px;
	border-radius: 2em;
	text-decoration: none;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

nav a.book_appointment {
	background-color: #D94E9C;
}

nav a:hover, nav a:focus, nav a:active {
	background-color: #DB0B86;
	color: white;
}

nav a.options {
	padding: 6em 0 6em 0;
	background-color: #FFF;
	color: #3D3D3D;
	border-radius: 0.8em;
	border-style: solid;
	border-color: #E697C3;
	border-width: 0.1em;
	margin-top: 1em;
	margin-bottom: 3em;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

nav a.options:hover, nav a.options:active, nav a.options:focus {
	background-color: #E697C3;
	color: white;
}

nav a.back_button {
	display: inline-block;
	background-color: #E6E6E6;
	color: #3D3D3D;
	border-radius: 0.8em;
	padding: 1em;
	margin: 2em 3em 2em 0;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

nav a.back_button:hover, nav a.back_button:active, nav a.back_button:focus {
	background-color: #E697C3;
	color: white;
}



/* etc. */
.col-5of10 section {
	border-bottom: dotted #D94E9C;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	text-align: left;
	border-width: 2px;
	margin-left: 5%;
	margin-right: 5%;
}

span.pointer {
	cursor: pointer;
}

.service-section {
	display: inline-block;
	width: 75%;
	border-bottom: dotted #D94E9C;
	padding-bottom: 1em;
}

.center {
	margin-left: auto;
   margin-right: auto;
   width: 15%;
}

form {
	text-align: left;
}




/* button + onclick */
button {
	color: gray;
	font-size: 0.8em;
	display: inline-block;
	background-color: white;
	border: double;
	border-color: #E697C3;
	width: 25em;
	height: 3em;
	margin-left: 5em;
	-webkit-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

button:hover {
	background-color: #E697C3;
	color: white;
}

.onclick-menu {
	position: relative;
	display: inline-block;
	padding-left: 2em;
	padding-right: 15em;
	background-color: white;
	color: gray;
}

.onclick-menu:before {
	content: " ";
}

.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
    outline: none;
    color: #DB0B86;
}

.onclick-menu:focus .onclick-menu-content {
	/*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;

}

.onclick-menu-content {
	position: absolute;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.5s;
}



/* footer */
.footer {
	display: block;
	clear: both;
	position: relative;
	z-index: 1;
	height: 20em;
	margin-top: 5em;
	background-color: #E697C3;
	color: white;
	padding: 1em 3em 2em 3em;
	font-size: 0.8em;
}

.footer.col-4of10 {
	text-align: left;
}



/* progress bar */
#progress_bar_location {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_location > div {
  background-color: #DB0B86;
  width: 15%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_service {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_service > div {
  background-color: #DB0B86;
  width: 31%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_designer {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_designer > div {
  background-color: #DB0B86;
  width: 48%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_date {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_date > div {
  background-color: #DB0B86;
  width: 60%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_info {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_info > div {
  background-color: #DB0B86;
  width: 78%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_confirm {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_confirm > div {
  background-color: #DB0B86;
  width: 100%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}


