/* main */


body {
	font-family: Raleway;
	font-size: 1em; 
	color: #3D3D3D;
	padding: 1em;
}

@font-face {
	font-family: PassionsConflict;
	src: url(PassionsConflictROB.ttf);
	text-decoration: none;
}

@font-face {
	font-family: Raleway;
	src: url(Raleway/raleway.ttf);
	text-decoration: none;
}

#logo img {
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: none;
}

#logo p {
	font-size:0.8em;
	color:#E697C3;
	padding-bottom:3em;
	text-align: center;
}

#logo h1 {
	font-family: PassionsConflict;
	color: #424343;
	text-decoration: none;
	font-size:6em;
	text-align: center;
	padding:0em;
	margin-bottom: 0em;
}

#logo a {
	text-decoration: none;
}


/*
nav a {
	width: 100%;
	font-size: 0.9em;
	margin: 0.2em 0.2em 0 0;
	background-color: white;
}
*/

#navigation li {
	list-style: none;
	text-decoration: none;
}

#navigation li a {
	text-decoration: none;
}

#navigation_container {

}

.ribbon {
   background: #E697C3;
   height: 40px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 5px;

}

h2 {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	margin-top: 3em;
}

h3 {
	font-weight: bold;
	margin-bottom: 0.5em;
	color: #DB0B86;
}



nav a, nav a:visited {
	display: inline-block;
	background-color: #E697C3;
	color: #FFFFFF;
	padding: 0.8em;
	width: 99%;
	font-size: 0.9em;
	margin: 0em;
	text-decoration: none;
	height:39px;
	text-align: center;
	border-top: dashed;
	border-bottom: dashed;
	border-width:1px;
	border-spacing: 1px;

	
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}


nav a:hover, nav a:focus {
	background-color: #D94E9C;
	color: white;
}

nav a.options {
	padding: 6em 0 6em 0;
	background-color: #FFF;
	color: #3D3D3D;
	border-radius: 0.8em;
	border-style: solid;
	border-color: #D94E9C;
	border-width: 0.1em;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

nav a.options:hover, nav a.options:active, nav a.options:focus {
	background-color: #D94E9C;
	color: white;
}

nav a.back_button {
	display: inline-block;
	background-color: #E6E6E6;
	color: #3D3D3D;
	border-radius: 0.8em;
	padding: 1em;
	margin: 2em 30em 2em 0;
	-webkit-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

nav a.back_button:hover, nav a.back_button:active, nav a.back_button:focus {
	background-color: #D93E9C;
	color: white;
}

#progress_bar_location {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_location > div {
  background-color: #DB0B86;
  width: 15%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_service {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_service > div {
  background-color: #DB0B86;
  width: 31%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_designer {
  background-color: #E6E6E6;
  height: 0.4em;
  width: 37%;
  margin-top: 0.3em;
  margin-bottom: 2em;
}

#progress_bar_designer > div {
  background-color: #DB0B86;
  width: 48%;
  height: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 2em;
}


